footer{
    background-color: #cf2e2e;
    color: rgb(252, 249, 249);
    text-align: center;
    padding: 1rem;

}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.6;
    
}
