footer{
    background-color: #db473c;
    color: white;
    text-align: center;
    padding: 1rem;
    width: 100%;
    position: relative; 
    bottom: 0;
    box-sizing: border-box;
 
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.6;
    
}
