.botonSielho{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
    padding: 1rem;
    background-color:#59D0E1;
    border:none;
    border-radius:12px;-moz-border-radius:12px;
    cursor: pointer;
    color: white;
    font-weight: bold;
}
