.header {
    padding: 0px;
    background: #59D0E1;
    
  }
  
  .logo {
    display: flex;
    width: 100%;
    padding: 0px;
    justify-content: center;
  }
  .logo:hover {
    cursor: pointer;
  }
  .desktop_menu {
    justify-content: center;
    list-style: none;
    
    margin-top: 24px;
  }

  .desktop_menu ul {
    flex: 0 0 auto;
        
        width: 85%;
        padding: 0;
        justify-content: center;
  }
  .desktop_menu ul li {
    list-style-type: none;
    color: white;
    display: inline-block;
    font-size: 18px;
    margin-left: 26px;
  }
  .desktop_menu ul li:hover {
    font-size: 19px;
    font-weight: bold;
    cursor: pointer;
    background-color: #cf2e2e;
    transition: 0.3s ease-in-out;
  }
  .menu-icon {
    display: none;
    padding: 0;
  }
  
  @media screen and (min-width: 128px) and (max-width: 900px) {
    .desktop_menu {
      position: fixed !important;
      right: -280px;
      transition: 0.4s ease-in-out;
      top: 64px;
      background: #59D0E1;
      width: 280px;
      height: 100%;
    }
    .desktop_menu ul {
      flex: 0 0 auto;
      width: 85%;
      padding: 0;
      justify-content: center;
    }
    .desktop_menu ul li {
      display: block;
      text-align: left;
      margin: 0;
      padding: 10px 0 10px 26px;
      border-bottom: 1px solid grey;
    }
    .menu-icon {
      display: block;
      color: white;
      font-size: 40px;
      padding-top: 10px;
      justify-content: right;
    }
    .mobile_menu {
      right: 0;
      transition: 0.4s ease-in-out;
    }
  }
