h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.6;
    text-align: center;
    }
p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.6;
    text-align: justify;
    }