
<div *ngIf="datos.length > 0; else noData"> <!-- Si hay datos (la longitud de 'datos' es mayor que 0) -->
    <ul> <!-- Inicio de una lista no ordenada -->
      <li *ngFor="let dato of datos"> <!-- Por cada elemento 'dato' en el arreglo 'datos' -->
        <p><strong>Nombre:</strong> {{ dato.name }}</p>
        <p><strong>Email:</strong> {{ dato.email }}</p>
        <p><strong>Caso:</strong> {{ dato.case }}</p>
        <p><strong>Mensaje:</strong> {{ dato.message }}</p>
      </li>
    </ul>
  </div>
  <ng-template #noData>  <!-- Si no hay datos (la longitud de 'datos' es 0 o menos) -->
    <p>No hay datos disponibles.</p> <!-- Muestra un mensaje indicando que no hay datos -->
  </ng-template>