ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 4px;
  }
  
  li p {
    margin: 5px 0;
  }
  
  strong {
    color: #333;
  }
