.sidebar{
   font-family: Verdana, Geneva, Tahoma, sans-serif;
    flex: 1;
    padding: 1rem;
    background-color: white;
    border-radius: 15px;
 }
 .sidebar .widget{
    margin-bottom: 1rem;
 }
 .sidebar button{
    width: 100%;
    padding: 20px;
   border-radius: 8px;
    background-color:#59D0E1;
    border: none;
    cursor: pointer;
    color: white;
    font-weight: bold;
 }

 .elementos {
   background-color: azure ;
   padding: 10px;
   border-radius: 8px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   width: 300px;
}

.form-group {
   margin-bottom: 15px;
}

.form-group label {
   display: block;
   margin-bottom: 5px;
   font-weight: bold;
}

.form-group input {
   width: 100%;
   padding: 8px;
   border: 1px solid #ccc;
   border-radius: 10px;
   box-sizing: border-box;
}

.btn {
   width: 100%;
   padding: 10px;
   background-color:#59D0E1;
   border: none;
   border-radius: 4px;
   color: white;
   font-size: 16px;
   cursor: pointer;
}

.btn:hover {
   background-color: #969499;
}

.desktop_menu {
   transition: 0.4s ease-in-out;
   top: 64px;
   background: #969499;
   color:white;
   width: 280px;
   height: 100%;
 }
 .desktop_menu ul {
   flex: 0 0 auto;
   width: 85%;
   padding: 0;
   justify-content: center;
 }
 .desktop_menu ul li {
   display: block;
   text-align: left;
   margin: 0;
   padding: 10px 0 10px 26px;
   border-bottom: 1px solid grey;
 }
 .desktop_menu ul li:hover {
   font-size: 19px;
   font-weight: bold;
   cursor: pointer;
   background-color: #59D0E1;
   transition: 0.3s ease-in-out;
 }
