<aside class="sidebar">
    <div class="widget">
        <form action="" class="formulario">
            <div class="form-group">
                <label for="usuario">Usuario</label>
                <input type="text" id="usuario" name="usuario" required>
            </div>
            <div class="form-group">
                <label for="password">Contraseña</label>
                <input type="password" id="password" name="password" required>
            </div>
            <button type="submit" class="btn" id="enviar">Ingresar</button>
        </form>

        <div class="denuncias">
        
            <img src="" alt="">
            <button type="submit" class="btn">SIHCAL</button>
        </div>
        
    </div>
    
    
</aside>
